

{% extends 'main.jinja' %}


{% block content %}



<main class="settingsPage profile my-md">
  <div class="container ">
    <div class="layout">
      <div class="column column--2of3">
        <div class="settings">
            <h3 class="settings__title">Task List</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{{ url('todo-create') }}"><i class="im im-plus"></i> Add ToDo</a>
        </div>

        <form method="POST">
          <div class="form__field">
          {% csrf_token %}
          {% for choice in choices %}
          {{ choices }}
          {% endfor %}
          <input class="btn btn--sub btn--sm  my-md" type="submit" value="submit">
        </div>
        </form>

        <table class="settings__table">
            {% for todo in todos %}
            <tr>
              <td class="settings__tableInfo">
                <h4>{{todo.title}}</h4>
                <h4>Created: {{ todo.created.strftime("%d %b, %Y") }}</h4>
                <h4>Deadline: {{ todo.due_date.strftime("%d %b, %Y") }}</h4>
              </td>

              <td>
                {% if todo.status == 'P' %}
                  <a href="{{ url('change-status', todo.id, 'C') }}"  class="tag tag--pill tag--main settings__btn">&#10004;</a>
                {%else%}
                  <a href="{{ url('change-status', todo.id, 'P') }}"  class="tag tag--pill tag--main settings__btn">&#10008;</a>
                {%endif%}
              </td>

              
              
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{{ url('todo-update', todo.id) }}"><i class="im im-edit"></i> Edit</a>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{{ url('todo-delete', todo.id) }}"><i class="im im-x-mark-circle-o"></i>Delete</a>
              </td>
            </tr>
            {% endfor %} 
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}